{% extends "_template/main.html.twig" %}

{% block title %}ES6/7{% endblock %}
{% block subtitle %}Références{% endblock %}

{% block content %}
<ul>
    <li><a href="https://developer.mozilla.org/fr/" target="_blank">MDN</a></li>
    <li><a href="https://ponyfoo.com/" target="_blank">ponyfoo.com</a></li>
    <li><a href="http://es6-features.org/" target="_blank">es6-features.org</a></li>
</ul>
{% endblock %}

{% block notes %}
<pre>
    - MDN fourni de bonne docs sur js , api standards, 
        Date de parution, la dispo sur les navigateurs, manière de polyfills possible
    - ponyfoo blog article js, là ou es6
    - es6 features apparu après liste tous les changements avec des examples (majorité inspiré de ça) 
</pre>
{% endblock %}