{% extends "_template/title.html.twig" %}

{% block image %}<img src="images/logo.png" class="title-image" />{% endblock %}
{% block title %}ES6/7{% endblock %}

{% block notes %}
<pre>
    Vais parler de ce qui s'est standardisé en JS depuis 2015
    La plupart de ces trucs sont utilisés un peu partout, chez FB, Spotify et autres
    Majorité de trucs c'est des syntaxes pour aider à la lisibilité, et 2-3 concepts qui, en fonctionnant ensembles,
        vont permettre de gérer l'asynchrone facilements
    Tout est utilisable dès maintenant sur les navigateurs actuellement,
        et des traitements nous permettent de le convertir vers des navigateurs plus ancien


    es6 aka es2015 c'est un standard javascript
    un des facteurs de l'engouement pour le js, et les techno vue, react, webpack, babel, etc
    assez fourni en changement/rajouts
</pre>
{% endblock %}