@import '~normalizecss';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

a:link,
a:visited {
	color: #0096dd;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #0073aa;
	text-decoration: underline;
}

h1 {
	letter-spacing: -2px;
}

h2 {
	letter-spacing: -1px;
}

h3 {
	letter-spacing: -0.5px;
}

h4 {
	letter-spacing: -0.25px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

.bespoke-parent {
	text-size-adjust: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	font-family: 'Fira Sans', helvetica, arial, arial, sans-serif;
	border-top: 2px solid #fff;
}

.bespoke-scale-parent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.bespoke-scale-parent .bespoke-active {
	pointer-events: auto;
}

.bespoke-slide {
    transition: opacity 0.3s ease;
	width: 640px;
	height: 480px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    z-index: 1;
    opacity: 0;
}

.bespoke-inactive {
	pointer-events: none;
}
.bespoke-active {
	opacity: 1;
}

.bespoke-bullet-inactive {
	opacity: 0;
	pointer-events: none;
}

.bespoke-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0;
}

.bespoke-progress-parent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0.3vw;
}

.bespoke-progress-bar {
	position: absolute;
	height: 100%;
	background: #ccc;
	transition: width 0.6s ease;
}

.emphatic {
	background: #222;
}

.emphatic-text {
	color: #fff;
}

@media screen {
    .bespoke-parent {
        background: url("../images/playstation-pattern.png");
    }
}


h1, h2, h3 {
	margin: 2px;
}