@import 'theme';
@import '~prismjs/themes/prism-funky.css';

.bespoke-slide aside {
    display: none;
}
* { box-sizing: border-box; }

.row {
    display: flex;
    flex-basis: 1;
    &.flex-align-top {
        align-items: flex-start;
    }
    &.flex-align-center {
        align-items: center;
    }
    .even {
        flex-grow: 1;
        padding: 0 10px;
    }
    &.flex-flow-wrap {
        flex-flow: wrap;
    }
    &.flex-justify-start {
        justify-content: flex-start;
    }
}

.playground {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 0.3em;
    border: 2px solid black;
}

.image {
    max-width: 100%;
}
.image-shadow {
    box-shadow: 3px 3px 14px -1px rgba(0,0,0,0.59);
}
.title-image {
    max-width: 200px;
}

.badge {
    span {
        background: black;
        color: white;
        box-shadow: -0.3em 0 0 0.3em black, 0.3em 0 0 0.3em black;
    }
}
code, kbd, pre, samp {
    font-size: 0.95em;
}