{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Arrow functions/Lambda{% endblock %}
{% block example_description %}Contexte{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
this.nums.forEach((v) => {
    if (v % 5 === 0) {
        this.fives.push(v);
    }
});
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
//  variant 1
var self = this;
this.nums.forEach(function (v) {
    if (v % 5 === 0) {
        self.fives.push(v);
    }
});

//  variant 2 (since ECMAScript 5.1 only)
this.nums.forEach(function (v) {
    if (v % 5 === 0) {
        this.fives.push(v);
    }
}.bind(this));
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - particularité de garder le contexte parent
    - utile pour éviter les bidouilles qui se faisaient avant
</pre>
{% endblock %}