{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Arrow functions/Lambda{% endblock %}
{% block example_description %}Procédures{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
nums.forEach(v => {
   if (v % 5 === 0) {
       fives.push(v);
   }
})
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
nums.forEach(function (v) {
   if (v % 5 === 0) {
       fives.push(v);
   }
});
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - là on va passer aux lambda/arrow functions, 
        c'est un des trucs les plus utiles pour améliorer la lisibilité du code
    - voilà les arguments avec parenthèse si plusieurs (example après) une flèche et des accolades et voilà une fonction
    - spécificité scopes qu'on verra après
</pre>
{% endblock %}