{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Arrow functions/Lambda{% endblock %}
{% block example_description %}Expressions{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
odds  = evens.map(v => v + 1);
pairs = evens.map(v => ({ even: v, odd: v + 1 }));
nums  = evens.map((v, i) => v + i);
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
odds  = evens.map(function (v) { return v + 1; });
pairs = evens.map(function (v) { return { even: v, odd: v + 1 }; });
nums  = evens.map(function (v, i) { return v + i; });
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - il n'y a pas d'accolade ici, ce qui signifie que la fonction va retourner ce qu'il y a derrière la flèche
    - ce qui sert aux expressions, ya des parenthèses ici parce qu'on veut retourner des objects du coup conflit avec les accolades
</pre>
{% endblock %}