{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Classe{% endblock %}
{% block example_description %}Héritage (2){% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
class Shape {
    …
    toString () {
        return `Shape(${this.id})`;
    }
}
class Rectangle extends Shape {
    …
    toString () {
        return "Rectangle > " + super.toString();
    }
}
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
// ...
{% endverbatim %}
{% endblock %}


{% block notes %}
<pre>
    - on peut override les méthodes, je pense qu'il est inutile de montrer ce que c'était en ES5
</pre>
{% endblock %}