{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Classe{% endblock %}
{% block example_description %}Héritage (2){% endblock %}

{% block example_code_left_badge %}ES5{% endblock %}
{% block example_code_left %}
{% verbatim %}
var Rectangle = function (id, x, y, w, h) {
    Shape.call(this, id, x, y);
    this.width  = w;
    this.height = h;
};
Rectangle.prototype = Object.create(Shape.prototype);
Rectangle.prototype.constructor = Rectangle;
{% endverbatim %}
{% endblock %}


{% block notes %}
<pre>
    - voilà ce que c'était avant, dupliquer le prototype, et set le constructor,
    - maintenant on peut faire extends et super
</pre>
{% endblock %}