{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Classe{% endblock %}
{% block example_description %}Héritage{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
class Rectangle extends Shape {
    constructor (id, x, y, w, h) {
        super(id, x, y);
        this.width  = w;
        this.height = h;
    }
}
{% endverbatim %}
{% endblock %}


{% block notes %}
<pre>
    - voilà ce que c'était avant, dupliquer le prototype, et set le constructor,
    - maintenant on peut faire extends et super
</pre>
{% endblock %}