{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Déclaration{% endblock %}
{% block example_description %}Variables scopées{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
for (let i = 0; i < a.length; i++) {
    let x = a[i];
    …
}
for (let i = 0; i < b.length; i++) {
    let y = b[i];
    …
}
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var i, x, y;
for (i = 0; i < a.length; i++) {
    x = a[i];
    …
}
for (i = 0; i < b.length; i++) {
    y = b[i];
    …
}
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - pour info utiliser `var` revient à allouer une variable sur le scope de la function, 
        et du coup tous les bloc de boucle, sous-fonctions auront accès à cette variable
    - `let` permet d'allouer une variable au bloc près (if, itération de for, while, etc)
    - à droite les mêmes variables sont réutilisées à chaque fois
    - à gauche c'est bien 2 `i` différents, et le `x` et le `y` sont différents à chaque tour de boucle
    
</pre>
{% endblock %}