{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Déclaration{% endblock %}
{% block example_description %}Variables scopées (2){% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
let callbacks = [];
for (let i = 0; i <= 2; i++) {
    callbacks[i] = function () { return i * 2; };
}
callbacks[0]() === 0;
callbacks[1]() === 2;
callbacks[2]() === 4;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - voilà un example qui crée des callbacks, un peu ce qu'on ferait en itérant sur une liste pour créer des onclicks
    - si on remplace les let par des var tous les callbacks vont renvoyer 4, parce que même i utilisé
</pre>
{% endblock %}