{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Déclaration{% endblock %}
{% block example_description %}Block{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
{
    function foo () { 
        return 1; 
    }
    foo() === 1;
    {
        function foo () { 
            return 2; 
        }
        foo() === 2;
    }
    foo() === 1;
}
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
(function () {
    var foo = function () { 
        return 1; 
    }
    foo() === 1;
    (function () {
        var foo = function () { 
            return 2; 
        }
        foo() === 2;
    })();
    foo() === 1;
})();
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - pour scoper des blocks avant en ES5 on faisait des fonctions anonymes 
    - maintenant on met juste des accolades et voilà
</pre>
{% endblock %}