{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Déclaration{% endblock %}
{% block example_description %}Constantes{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
const PI = 3.141593;
PI > 3.0;
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
Object.defineProperty(window, "PI", {
    value:        3.141593,
    enumerable:   true,
    writable:     false,
    configurable: false
});
PI > 3.0;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - Déclarer des constantes c'est maintenant possible en ES6
    - On peut le faire en ES5 mais c'est plus verbeux et c'est forcément sur l'objet global
</pre>
{% endblock %}