{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Décomposition{% endblock %}
{% block example_description %}Paramètres{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
function f ([ name, val ]) {
    console.log(name, val);
}
function g ({ name: n, val: v }) {
    console.log(n, v);
}
function h ({ name, val }) {
    console.log(name, val);
}
f([ "bar", 42 ]);
g({ name: "foo", val:  7 });
h({ name: "bar", val: 42 });
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
// ...
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - l'utilisation ce qu'on a vu aussi valable pour les arguments de fonctions, 
        pour simplifier le traitement des options
</pre>
{% endblock %}