{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Décomposition{% endblock %}
{% block example_description %}Tableau{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
var list = [ 1, 2, 3 ];
var [ a, , b, c = 42 ] = list;
[ b, a ] = [ a, b ];
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
var list = [ 1, 2, 3 ];
var a = list[0], b = list[2];
var c = typeof list[3] !== "undefined" ? list[3] : 42;
var tmp = a; a = b; b = tmp;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - un peu comme list() en php, ça permet de affecter en une ligne des éléments d'un tableau dans une variable
    - dans l'ordre des éléments dans le tableau, on peut ne pas en mettre pour skip
    - on peut mettre une valeur par défaut pour si il n'y a pas d'élément 
</pre>
{% endblock %}