{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Décomposition{% endblock %}
{% block example_description %}Objet{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
var {x, y} = getCoords();
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var tmp = getCoords();
var x  = tmp.x;
var y = tmp.y;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - de la même façon pour les objets, on peut décomposer
</pre>
{% endblock %}