{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Décomposition{% endblock %}
{% block example_description %}Objets en profondeur{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
var {type, coords: {x: eX, y: eY}} = getEvent();
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
var tmp = getEvent();
var type = tmp.type;
var eX = tmp.coords.x;
var eY = tmp.coords.y;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - pour aller chercher les objets qui sont dans les objets
</pre>
{% endblock %}