{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Chaînes{% endblock %}
{% block example_description %}Iterator{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
let nbs = [0, 1, 2, 3];
for (let n of nbs) {
    console.log(n);
}
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var nbs = [0, 1, 2, 3];
for (var i = 0; i < nbs.length; i++) {
    console.log(nbs[i]);
}
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - le mot clé of permet dans une boucle for de parcourir les itérables
    
</pre>
{% endblock %}