{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Paramètres{% endblock %}
{% block example_description %}Défaut{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
function f (x, y = 7, z = 42) {
    return x + y + z;
}
f(1) === 50;
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
function f (x, y, z) {
    if (y === undefined)
        y = 7;
    if (z === undefined)
        z = 42;
    return x + y + z;
};
f(1) === 50;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - js a toujours permis de mettre plus ou moins de paramètres que déclarés, 
        les params en plus peuvent être récupéré dans le pseudo-tableau arguments,
        et ce en moins deviennent des undefined
    - maintenant ya des paramètres par défaut
    
</pre>
{% endblock %}