{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Paramètres{% endblock %}
{% block example_description %}Décomposition{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
var params = [ "hello", true, 7 ];
var other = [ 1, 2, ...params ];
// [ 1, 2, "hello", true, 7 ]

f(1, 2, ...params) === 9;

var str = "foo";
var chars = [ ...str ];
// [ "f", "o", "o" ]
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var params = [ "hello", true, 7 ];
var other = [ 1, 2 ].concat(params);
// [ 1, 2, "hello", true, 7 ]

f.apply(undefined, [ 1, 2 ].concat(params)) === 9;

var str = "foo";
var chars = str.split("");
// [ "f", "o", "o" ]
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - à l'inverse on peut décomposer tout ce qui itérable
    - par example mettre un tableau dans un autre tableau
    - utiliser un tableau pour les paramètres d'un appel de fonction
    - décomposer une chaine en tableau de caractères
    
</pre>
{% endblock %}