{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Paramètres{% endblock %}
{% block example_description %}Reste{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
function f (x, y, ...a) {
    return (x + y) * a.length
}
f(1, 2, "hello", true, 7) === 9
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
function f (x, y) {
    var a = Array.prototype.slice.call(arguments, 2);
    return (x + y) * a.length;
};
f(1, 2, "hello", true, 7) === 9;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - comme je disais on a le pseudo-array argument pour gérer les arguments qui restent en trop
    - voilà une syntaxe qui permet de gérer ça sans avoir besoin de manipuler le
    
</pre>
{% endblock %}