{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Propriétés{% endblock %}
{% block example_description %}Calculé{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
let x = 1;
let obj = {
    foo: "bar",
    [ "baz" + x ]: 42
};
// {foo: "bar", baz1: 42};
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var x = 1;
var obj = {
    foo: "bar"
};
obj[ "baz" + 1 ] = 42;
// {foo: "bar", baz1: 42};
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - si au lieu d'une clé statique on veut affecter une clé calculée
        on met des crochets
</pre>
{% endblock %}