{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Propriétés{% endblock %}
{% block example_description %}Raccourci{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
let x = 1;
let y = 2;
let obj = { x, y };
// {x: 1, y: 2}
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var x = 1;
var y = 2;
var obj = { x: x, y: y };
// {x: 1, y: 2}
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - pour affecter un objet dans une clé, si le nom de la clé === une variable défini
        alors on peut utiliser ce raccourci
    
</pre>
{% endblock %}