{% extends '../_template/compare.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Propriétés{% endblock %}
{% block example_description %}Fonction{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
const obj = {
    foo (a, b) {
        …
    },
    bar (x, y) {
        …
    }
};
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var obj = {
    foo: function (a, b) {
        …
    },
    bar: function (x, y) {
        …
    },
};
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - si c'est pour définir une fonction dans un objet on met des parenthèses les paramètres et des accolades et voilà
</pre>
{% endblock %}