{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}Syntaxe{% endblock %}
{% block subtitle %}Chaînes{% endblock %}
{% block example_description %}Templating{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
var customer = { name: "Foo" };
var card = { amount: 7, product: "Bar", unitprice: 42 };
var message = `Hello ${customer.name},
want to buy ${card.amount} ${card.product} for
a total of ${card.amount * card.unitprice} bucks?`;
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
var customer = { name: "Foo" };
var card = { amount: 7, product: "Bar", unitprice: 42 };
var message = "Hello " + customer.name + ",\n" +
"want to buy " + card.amount + " " + card.product + " for\n" +
"a total of " + (card.amount * card.unitprice) + " bucks?";
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - un peu comme en PHP avec quote doubles mais en mieux
    - permet d'insérer une variable directement dans une chaine
    
</pre>
{% endblock %}