{% extends "../_template/title.html.twig" %}

{% block title %}Syntaxe{% endblock %}

{% block notes %}
<pre>
    on commence par ce qui change en syntaxe, les raccourcis, simplifications, etc
</pre>
{% endblock %}