<section class="{% block classes %}{% endblock %}">
    {% block body %}{% endblock %}

    <aside>
        <h2>{{ block('title') }}</h2>
        <h3>{{ block('subtitle') }}</h3>
        {% block additional_notes_titles %}{% endblock %}
        <hr />
        {% block notes %}Notes{% endblock %}
    </aside>
</section>