{% extends "main.html.twig" %}

{% block example_code_up %}{% endblock %}
{% block example_code_up_badge %}{% endblock %}
{% block example_code_down %}{% endblock %}
{% block example_code_down_badge %}{% endblock %}

{% block example_description %}description{% endblock example_description %}

{% block additional_notes_titles %}<p>{{ block('example_description') }}</p>{% endblock %}

{% block content %}
    <p>{{ block('example_description') }}</p>
    <div>
        {% if block('example_code_up') != '' %}
        <div class="badge">
            <span>{{ block('example_code_up_badge') }}</span>
        </div>
        {% endif %}
        {{ block('example_code_up')|code('js') }}
    </div>
    <div>
        {% if block('example_code_down_badge') != '' %}
        <div class="badge">
            <span>{{ block('example_code_down_badge') }}</span>
        </div>
        {% endif %}
        {{ block('example_code_down')|code('js') }}
    </div>
{% endblock %}