{% extends "main.html.twig" %}

{% block example_code_left %}{% endblock %}
{% block example_code_left_badge %}{% endblock %}
{% block example_code_right %}{% endblock %}
{% block example_code_right_badge %}{% endblock %}
{% block example_description %}description{% endblock example_description %}

{% block additional_notes_titles %}<p>{{ block('example_description') }}</p>{% endblock %}
{% block content %}
    <p>{{ block('example_description') }}</p>
    <div class="row flex-align-center">
        <div class="even">
            {% if block('example_code_left_badge') != '' %}
            <div class="badge">
                <span>{{ block('example_code_left_badge') }}</span>
            </div>
            {% endif %}
            {{ block('example_code_left')|code('js') }}
        </div>
        <div class="even">
            {% if block('example_code_right_badge') != '' %}
            <div class="badge">
                <span>{{ block('example_code_right_badge') }}</span>
            </div>
            {% endif %}
            {{ block('example_code_right')|code('js') }}
        </div>
    </div>
{% endblock %}