{% extends "_layout.html.twig" %}

{% block body %}
    <h2>{% block title %}Title{% endblock %}</h2>
    <h3>{% block subtitle %}Sub-Title{% endblock %}</h3>

    {% block content %}<p>Content</p>{% endblock %}
{% endblock %}