<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>ES6/7</title>
    <link rel="stylesheet" type="text/css" href="build/build.css">
  </head>
  <body>
    <article>
      {% include 'slides/splash.html.twig' %}
      {% include 'slides/title.html.twig' %}
      {% include 'slides/syntaxe/title.html.twig' %}
      {% include 'slides/syntaxe/declaration-const.html.twig' %}
      {% include 'slides/syntaxe/declaration-let.html.twig' %}
      {% include 'slides/syntaxe/declaration-let2.html.twig' %}
      {% include 'slides/syntaxe/declaration-block.html.twig' %}
      {% include 'slides/syntaxe/arrow-expressions.html.twig' %}
      {% include 'slides/syntaxe/arrow-statements.html.twig' %}
      {% include 'slides/syntaxe/arrow-context.html.twig' %}
      {% include 'slides/syntaxe/param-default.html.twig' %}
      {% include 'slides/syntaxe/param-rest.html.twig' %}
      {% include 'slides/syntaxe/param-spread.html.twig' %}
      {% include 'slides/syntaxe/string-interpolation.html.twig' %}
      {% include 'slides/syntaxe/property-shorthand.html.twig' %}
      {% include 'slides/syntaxe/property-computed.html.twig' %}
      {% include 'slides/syntaxe/property-functions.html.twig' %}
      {% include 'slides/syntaxe/destructuring-array.html.twig' %}
      {% include 'slides/syntaxe/destructuring-objectshort.html.twig' %}
      {% include 'slides/syntaxe/destructuring-objectdeep.html.twig' %}
      {% include 'slides/syntaxe/destructuring-params.html.twig' %}
      {% include 'slides/syntaxe/class-definition.html.twig' %}
      {% include 'slides/syntaxe/class-inheritance.html.twig' %}
      {% include 'slides/syntaxe/class-inheritance2.html.twig' %}
      {% include 'slides/syntaxe/class-inheritance3.html.twig' %}
      {% include 'slides/syntaxe/iterator.html.twig' %}
      {% include 'slides/api/title.html.twig' %}
      {% include 'slides/api/intl-collator.html.twig' %}
      {% include 'slides/api/intl-number.html.twig' %}
      {% include 'slides/api/intl-currency.html.twig' %}
      {% include 'slides/api/intl-date.html.twig' %}
      {% include 'slides/api/array.html.twig' %}
      {% include 'slides/api/string.html.twig' %}
      {% include 'slides/api/number-compare.html.twig' %}
      {% include 'slides/api/number-type.html.twig' %}
      {% include 'slides/api/math-func.html.twig' %}
      {% include 'slides/api/data-set.html.twig' %}
      {% include 'slides/api/data-map.html.twig' %}
      {% include 'slides/api/data-weak.html.twig' %}
      {% include 'slides/api/promises-intro.html.twig' %}
      {% include 'slides/api/promises-xhr.html.twig' %}
      {% include 'slides/api/promises-xhr2.html.twig' %}
      {% include 'slides/api/promises-all.html.twig' %}
      {% include 'slides/api/promises-all2.html.twig' %}
      {% include 'slides/api/promises-race.html.twig' %}
      {% include 'slides/api/promises-race2.html.twig' %}
      {% include 'slides/api/promises-resolve-reject.html.twig' %}
      {% include 'slides/api/promises-fetch.html.twig' %}
      {% include 'slides/api/promises-async-await.html.twig' %}
      {% include 'slides/links.html.twig' %}
    </article>

    <script src="build/build.js"></script>
  </body>
</html>