{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Tableaux{% endblock %}
{% block example_description %}Fonctions{% endblock %}

{% block example_code_left_badge %}ES6/7{% endblock %}
{% block example_code_left %}
{% verbatim %}
[1, 2, 3].includes(2);     // true
[ 1, 3, 4, 2 ].find(x => x > 3); // 4
[ 1, 3, 4, 2 ].findIndex(x => x > 3); // 2
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
[1, 2, 3].indexOf(2) !== -1;     // true
// for(i=0; ...) { if(x > 3) return x; }
// for(i=0; ...) { if(x > 3) return i; }
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - c'est le premier truc qu'est pas ES6
    - includes est ES7, permet de vérifier inclusion avant on faisait indexOf() !== -1
    - find trouver dans un tableau le premier élément vérifiant la fonction filtre
    remplace des boucles for ou on itère et on sort dès qu'on a trouvé
</pre>
{% endblock %}