{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Structures{% endblock %}
{% block example_description %}Weak{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
let m = new WeakMap(); 
let s = new WeakSet();
m.set(k, v); m.has(k); m.get(k); m.delete(k);
s.add(k); s.has(k); s.delete(k);
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - pas de référence forte du coup on peut pas itérer
    - utilisations possible, weakmap pour relier 1:1 deux objets genre plugin jQuery pour des handlers
</pre>
{% endblock %}