{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Structures{% endblock %}
{% block example_description %}Set{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
let s = new Set();
s.add("hello").add("goodbye").add("hello");
s.size === 2;
s.has("hello") === true;
for (let key of s.values()) {
    console.log(key);
}
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
var s = {};
s["hello"] = true;
s["goodbye"] = true;
s["hello"] = true;
Object.keys(s).length === 2;
s["hello"] === true;
for (var key in s) {
    if (s.hasOwnProperty(key)) {
        console.log(s[key]);
    }
}
{% endverbatim %}  
{% endblock %}

{% block notes %}
<pre>
    -  Set permet de stocker un set de valeur différentes, 
        si un objet ou un primitif est déjà dedans ça va pas le remettre
    en ES5 on peut avec des scalaires seulement en utilisant les clés ou un stockant un ID unique dans un objet pour la clé

</pre>
{% endblock %}