{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Internationalization &amp; Localization{% endblock %}
{% block example_description %}Tri{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
const list = ["a", "à", "b", "c", "ç", "d", "e", "é", "è", "z"];
list.sort();
// ["a", "b", "c", "d", "e", "z", "à", "ç", "è", "é"]

const l10nFR = new Intl.Collator("fr-FR");
list.sort(l10nFR.compare);
//["a", "à", "b", "c", "ç", "d", "e", "é", "è", "z"]
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - permet de faire des tri en tenant compte des règles de chaque langue
    - support unicode complet
</pre>
{% endblock %}