{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Internationalization &amp; Localization{% endblock %}
{% block example_description %}Formattage: Nombre{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
const l10nEN = new Intl.NumberFormat("en-US");
const l10nFR = new Intl.NumberFormat("fr-FR");
l10nEN.format(1234567.89) === "1,234,567.89";
l10nFR.format(1234567.89) === "1 234 567,89";
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - pareil: permet de formatter en tenant compte des règles de chaque langue
</pre>
{% endblock %}