{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Internationalization &amp; Localization{% endblock %}
{% block example_description %}Formattage: Devise{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
var l10nUSD = new Intl.NumberFormat("en-US", { style: "currency", currency: "USD" });
var l10nEUR = new Intl.NumberFormat("fr-FR", { style: "currency", currency: "EUR" });
l10nUSD.format(100200300.40) === "$100,200,300.40";
l10nEUR.format(100200300.40) === "100 200 300,40 €";
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - option de number format mais pour rajouter les sous
</pre>
{% endblock %}