{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Internationalization &amp; Localization{% endblock %}
{% block example_description %}Formattage: Date{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
var l10nFR = new Intl.DateTimeFormat("fr-FR");
l10nFR.format(new Date("2015-01-02")) === "02/01/2015";
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - format de date, on peut changer le format court long rajouter l'heure avec des options sur le constructor du formatter
</pre>
{% endblock %}