{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Math{% endblock %}
{% block example_description %}Fonctions{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
Math.trunc(42.7) // 42
Math.trunc( 0.1) // 0
Math.trunc(-0.1) // -0

Math.sign(7)   // 1
Math.sign(0)   // 0
Math.sign(-0)  // -0
Math.sign(-7)  // -1
Math.sign(NaN) // NaN
{% endverbatim %}
{% endblock %}

{% block example_code_right_badge %}ES5{% endblock %}
{% block example_code_right %}
{% verbatim %}
function mathTrunc (x) {
    return (x < 0 ? Math.ceil(x) : Math.floor(x));
}
mathTrunc(42.7) // 42
mathTrunc( 0.1) // 0
mathTrunc(-0.1) // -0
function mathSign (x) {
    return ((x === 0 || isNaN(x)) ? x : (x > 0 ? 1 : -1));
}
mathSign(7)   // 1
mathSign(0)   // 0
mathSign(-0)  // -0
mathSign(-7)  // -1
mathSign(NaN) // NaN
{% endverbatim %}  
{% endblock %}

{% block notes %}
<pre>
    - Les nombres en virgule flottante en js peuvent aboutir à des comportement
    - 
</pre>
{% endblock %}