{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Number{% endblock %}
{% block example_description %}Comparaison{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
console.log(0.1 + 0.2 === 0.3); // false
console.log(Math.abs((0.1 + 0.2) - 0.3); < Number.EPSILON) // true
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
console.log(0.1 + 0.2 === 0.3); // false
console.log(Math.abs((0.1 + 0.2) - 0.3) < 2.220446049250313e-16); // true
{% endverbatim %}  
{% endblock %}

{% block notes %}
<pre>
    - Les nombres en virgule flottante en js peuvent aboutir à des comportement
</pre>
{% endblock %}