{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Number{% endblock %}
{% block example_description %}Type{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
Number.isNaN(42) === false;
Number.isNaN(NaN) === true;
Number.isFinite(-Infinity) === false;
Number.isFinite(NaN) === false;
Number.isFinite(123) === true;
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
var isNaN = function (n) {
    return n !== n;
};
var isFinite = function (v) {
    return (typeof v === "number" && !isNaN(v) && v !== Infinity && v !== -Infinity);
};
{% endverbatim %}  
{% endblock %}

{% block notes %}
<pre>
    - NaN assez particulier car NaN !== NaN pour éviter NaN/NaN === 1 et que les calculs fonctionnent, 
        un calcul = NaN dès qu'une composante = NaN
    - voilà des fonctions
    isFinte pour un nombre
</pre>
{% endblock %}