
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}Example: XHR{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
function httpGet(url) {
    return new Promise((resolve, reject) => {
        const req = new XMLHttpRequest();
        req.open('GET', url);
        req.onload = () => {
            if (req.status == 200) {
                resolve(req.response);
            } else {
                reject(new Error(req.statusText));
            }
        };
        req.onerror = () => reject(new Error("Network Error"));
        req.send();
    });
}
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - voilà un example plus concret avec comment faire une requète en js, wrappé en Promise
</pre>
{% endblock %}