
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}async/await{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
async function getUser(id) {
    if(!id) {
        throw new Error('invalid id');
    }
    
    const response = await fetch('/api/user/${id}');
    if(!response.ok) {
        throw new Error(`got status ${response.status} ${response.statusText}`);
    }

    return await response.json();
}

getUser(id).then((user) => console.log(user));
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - afin de rendre les promises encore plus linéaires, es7 a rajouté ce standard async await
    - le mot clé await va transformer une promise en traitement qui semble synchrone
        (await promise) va retourner quand la promise sera resolue et soit retourner le résultat ou lancer une exception si catch
    - pour utiliser await il faut préceder le mot clé function de async, du coup la fonction renvoie une promise elle meme
</pre>
{% endblock %}