
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}fetch{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
fetch('/api/user/123')
    .then((response) => response.json())
    .then((user) => console.log(`connected as user ${user.name}`))
;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - dispo sur les navigateurs, fetch permet de faire des requètes
    options headers method,
    renvoie une response avec le code les headers et un stream qui peut être transformer en text blob ou json
    beaucoup plus facile que les standards d'avant qui nous faisaient utiliser jquery pour éviter d'utiliser xhr
</pre>
{% endblock %}