{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}Déclaration{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
function preloadImage(src) {
    return new Promise((resolve, reject) => {
        const img = new Image();
        img.onload = () => resolve(img);
        img.onerror = reject;
        img.src = src;
    });
}

showSpinner();
preloadImage('/logo.png')
    .then(() => preloadImage('/menu-icon.png'))
    .then(() => hideSpinner())
    .catch((e) => console.error(e))
;
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - C'est un des points les plus important de tout ça, c'est pour ça que ya un peu plus d'example que le reste
    - les promesses permettent de gérer plus facilement des traitements asynchrone, 
    on peut transformer des evenements, 
    des suites de requètes en traitements linéaires avec gestion d'erreur comme exception
</pre>
{% endblock %}