
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}All: Example 2{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
Promises.all([
    httpGet('/api/missions'), 
    httpGet('/api/positions')
])
    .then((results) => results.map(JSON.parse))
    .then([missions, positions] => {
        console.log(missions);
        console.log(positions);
    })
.catch(console.error);
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - Voilà nottament à quoi sert la déconstruction montré plus tôt
</pre>
{% endblock %}