
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}All{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
showSpinner();
//
const loaded = Promise.all([
    preloadImage('/logo.png'), 
    preloadImage('/menu-icon.png')
]);
// ou
const images = ['/logo.png', '/menu-icon.png'];
const loaded = Promise.all(images.map(preloadImage));
//
loaded.then(hideSpinner).catch(console.error);
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - On va reprendre le premier example pour illustrer promise all
    - tableau de promises en paramètre, resolve avec un tableau contenant les resultats respectifs;
</pre>
{% endblock %}