
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}Race: Example{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
const CDNs = ['img-eu.cdn.net', 'img-us.cdn.net'];
function CDN_preloadImage(src) {
    return Promise.race(CDN.map((cdn) => preloadImage(`//${cdn}/${src}`)));
}

CDN_preloadImage('logo.png')
    .then((img) => console.log(img.src))
.catch(console.error);
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - Même example mais factorisé
</pre>
{% endblock %}