
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}Resolve / Reject{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
const cache = new Map();
function cachedHttpGet(src) {
    if(typeof(src) !== 'string') {
        return Promise.reject(new Error('invalid src'));
    }
    if(cache.has(src)) {
        return Promise.resolve(cache.get(src));
    }
    return httpGet(src).then((response) => {
        cache.set(src, response);
        return response;
    });
}
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - On peut créer des promesses déjà résolue/rejetées, 
        utile pour par exemple gérer les erreurs, ou les traitements qui ne nécessitent pas forcément de l'asynchrone

    Exemple "cache"
</pre>
{% endblock %}