
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}Race{% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
Promise.race([
    preloadImage('//img-eu.cdn.net/logo.png'),
    preloadImage('//img-us.cdn.net/logo.png')
])
    .then((img) => console.log(img.src))
.catch(console.error);

{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - Race renvoie une promesse qui se résout dès qu'une promesse passée en paramètre, pareil pour les erreur
    - example ici c'est essayer de récupérer une image de deux CDN distincts et d'afficher la première qui arrive
</pre>
{% endblock %}