
{% extends '../_template/compare.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Promises{% endblock %}
{% block example_description %}Example: XHR (2){% endblock %}

{% block example_code_left_badge %}ES6{% endblock %}
{% block example_code_left %}
{% verbatim %}
httpGet('https://httpbin.org/get?test=salut')
    .then((response) => JSON.parse(response))
    .then((data) => console.log(data)) //.then(console.log)
    .catch((e) => console.error(e));  //.then(console.error)
{% endverbatim %}
{% endblock %}

{% block notes %}
<pre>
    - console.log prenant un argument on peut le mettre directement en callback le e => console.error sert pas 
        mais je l'ai fait avant surtout pour la lisibilité
</pre>
{% endblock %}