{% extends '../_template/compare-vertical.html.twig' %}

{% block title %}API{% endblock %}
{% block subtitle %}Chaines{% endblock %}
{% block example_description %}Fonctions{% endblock %}

{% block example_code_up_badge %}ES6{% endblock %}
{% block example_code_up %}
{% verbatim %}
"hello".startsWith("hell"); // true
"hello".endsWith("ello");   // true
"hello".includes("ell");    // true
{% endverbatim %}
{% endblock %}

{% block example_code_down_badge %}ES5{% endblock %}
{% block example_code_down %}
{% verbatim %}
"hello".indexOf("hell") === 0; // true
"hello".indexOf("ello") === ("hello".length - "ello".length);    // true
"hello".indexOf("ell") !== -1;    // true
{% endverbatim %}  
{% endblock %}

{% block notes %}
<pre>
    - on retrouve aussi includes dans les chaines
    - raccourci pour vérifier si une chaine commence fini, ou est inclue dans une autre
</pre>
{% endblock %}