{% extends "../_template/title.html.twig" %}

{% block title %}API{% endblock %}

{% block notes %}
<pre>
    les rajouts
    - Intl
    - Promises + async await
    - fetch
    - Array.* (includes)
    - Number.* (isNan, epsilon)
    - String.* (startsWith, endsWith, includes)
    - Set/Map
</pre>
{% endblock %}